<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input 
                        formControlName="name"
                        id="name" 
                        type="text" 
                        class="form-control">
                    <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                        <div *ngIf="f.name.errors.required">Name is required.</div>
                        <div *ngIf="f.name.errors.pattern">Valid Name is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea 
                        formControlName="address"
                        id="address" 
                        type="text" 
                        class="form-control">
                    </textarea>
                    <div *ngIf="f.address.touched && f.address.invalid" class="alert alert-danger">
                        <div *ngIf="f.address.errors.required">Address is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input 
                        formControlName="email"
                        id="email" 
                        type="email" 
                        class="form-control">
                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                        <div *ngIf="f.email.errors.required">Email is required.</div>
                        <div *ngIf="f.email.errors.pattern">Please Enter Valid Email</div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob">Date Of Birth:</label>
                    <input 
                        formControlName="dob"
                        id="dob" 
                        type="date" 
                        class="form-control">
                    <div *ngIf="f.dob.touched && f.dob.invalid" class="alert alert-danger">
                        <div *ngIf="f.dob.errors.required">Date of Birth is required.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select formControlName="gender" name="gender" id="gender" class="form-control">
                        <option value="Male" >Male</option>
                        <option value="Female" >Female</option>
                        <option value="Other" >Other</option>
                    </select>
                </div>
        
                <div class="form-group">
                    <label for="doj">Date Of Joining:</label>
                    <input 
                        formControlName="doj"
                        id="doj" 
                        type="date" 
                        class="form-control">
                    <div *ngIf="f.doj.touched && f.doj.invalid" class="alert alert-danger">
                        <div *ngIf="f.doj.errors.required">Date of Joining is required.</div>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="married">Maritial Status:</label>
                    <select formControlName="married" name="married" id="married" class="form-control">
                        <option value="Single" >Single</option>
                        <option value="Married" >Married</option>
                        <option value="Other" >Other</option>
                    </select>
                </div>
        
                <div class="form-group">
                    <label for="contact">Contact No:</label>
                    <input 
                        formControlName="contact"
                        id="contact" 
                        type="contact" 
                        class="form-control">
                    <div *ngIf="f.contact.touched && f.contact.invalid" class="alert alert-danger">
                        <div *ngIf="f.contact.errors.required">Contact No is required.</div>
                        <div *ngIf="f.contact.errors.pattern">Please, Enter 10 digit Mobile Number.</div>  
                    </div>
                </div>
                <button class="btn btn-primary input-margin f-right" type="submit" [disabled]="!form.valid">Submit</button>
            </div>
        </div>
    </form>
    
</div>
